@import 'variables';

$screen-xs-max: 300px;
$screen-sm-max: 400px;

@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
      @content;
  }
}

.home-title {
  margin: 0;
}
.box-wrapper {
  padding: 60px 30px;
  text-align: center;
  color: #fff;
}
.home-banner {
  width: 100%;
  height: 300px;
  background: url('../img/bg_01.jpg') no-repeat center / cover;
}
.home-title {
  font-weight: 600;
  font-size: 35px;
}
.home-desc {
  width: 100%;
  max-width: 460px;
  margin: 30px auto 50px;
  line-height: 1.6;
  font-size: 18px;
}
.input-basic {
  width: 230px;
  padding: 5px 10px;
  font-size: 20px;
  vertical-align: top;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  @include xs {
    width: 140px;
  }

  @include sm {
    width: 150px;
  }
}
.btn-submit {
  width: 80px;
  height: 33px;
  background: $light-mint;
  font-weight: 600;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
