@import 'variables';

body {
  font-family: 'Gothic A1', sans-serif;
  color: $dark-gray;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
input:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}
::-webkit-scrollbar-track-piece {
  background-color: none;
}
::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 10px;
}
::-webkit-scrollbar-button {
  display: none;
}
.app-container {
  min-height: 100vh;
  background: #000;
}
.app-header {
  text-align: center;
  background: $dark-gray;
  .logo {
    margin: 0;
    padding: 18px 0 10px;
    color: $orange;
    font-size: 23px;
    font-weight: 400;
    span {
      position: relative;
      display: inline-block;
      padding-right: 35px;
    }
    span:after {
      content: '';
      position: absolute;
      top: -50%;
      right: 0;
      display: inline-block;
      width: 35px;
      height: 35px;
      background: url('../img/bubble.png') no-repeat center / cover;
    }
  }
}
.warn-message {
  margin-top: 7px;
  font-size: 14px;
  color: $orange;
}
