@import 'variables';

body {
  font-family: 'Gothic A1', sans-serif;
  color: $dark-gray;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}
::-webkit-scrollbar-track-piece {
  background-color: none;
}
::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 10px;
}
::-webkit-scrollbar-button {
  display: none;
}
.app-container {
  min-height: 100vh;
  background: $dark-gray;
}
.app-header {
  text-align: center;
  .logo {
    margin: 0;
    padding: 35px 0;
    color: $dark-orange;
    font-size: 24px;
    font-weight: 400;
  }
}
